
@using Cooperchip.ITDeveloper.Mvc.Extentions.ExtensionsMethods
@model IEnumerable<Cooperchip.ITDeveloper.Domain.Models.Paciente>

@{
    ViewData["Title"] = "Lista de Pacinte";
}


<vc:cabecalho 
    titulo="Medical Management-Sys / Módulo Pacientes" 
    subtitulo="Administração de Pacientes"></vc:cabecalho>

@*@await Component.InvokeAsync("Cabecalho", new { Titulo = "", Subtitulo = "" })*@

<partial name="PartialViews/_estado_paciente" />

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Pacientes</h3>
    </div>

    <div class="panel panel-body">
        <p>
            <a asp-controller="Paciente" asp-action="Create" class="btn btn-primary">Novo Paciente</a>
        </p>
        
        @*<table-grid Items="@Model"></table-grid>*@
        
    <table class="table table-bordered table-hover">
        <thead class="dark">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TipoPaciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)
                </th>

                <th>Ação</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                //var dataNascPtBr = item.DataNascimento.ToBrazilianDate();
                var dateTimeNascPtBr = item.DataNascimento.ToBrazianDateTime();
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @dateTimeNascPtBr
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoPaciente.Descricao)
                    </td>

                    <td class="text-right">
                        <a asp-controller="Paciente" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-square fa-2x" title="Editar Paciente"></span> </a>
                        <a asp-controller="Paciente" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search fa-2x" title="Detalhes Paciente"></span> </a>
                        <a asp-controller="Paciente" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash fa-2x" title="Excluir Paciente"></span> </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    </div>
</div>