
@page
@model LoginModel

@{
    Layout = "";
    ViewData["Title"] = "LogIn";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - EAD - ITDeveloper</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    @*<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>*@

    @* ======================================================== *@

    <!-- Css files -->
    <!-- Icons -->
    <link href="~/bundle/core.min.css" rel="stylesheet" />

    @* ======================================================== *@


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="/img/ico/favicon.ico" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>

<body class="login-page">
    <!-- Start login container -->
    <div class="container login-container">
        <div class="login-panel panel panel-default plain animated bounceIn">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <img id="logo" src="/img/logo-dark.png" alt="EAD ITDeveloper">
                </h4>
            </div>
            <div class="panel-body">

                <form class="form-horizontal mt0" id="login-form" role="form" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>


                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="input-group input-icon">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input asp-for="Input.Email" class="form-control" placeholder="Digite seu email..." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="input-group input-icon">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input asp-for="Input.Password" class="form-control" placeholder="Digite sua senha..." />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <span class="help-block text-right"><a asp-page="./ForgotPassword">Esqueceu a senha?</a></span>

                        </div>
                    </div>



                    <div class="form-group mb0">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                            <div class="checkbox-custom">
                                <input type="checkbox" name="remember" id="remember" asp-for="Input.RememberMe">

                                <label for="remember">Lembrar-me</label>

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
                            <button type="submit" class="btn btn-default pull-right">LogIn</button>
                        </div>

                        <div class="seperator">
                            <strong>LogIn Externo</strong>
                            <hr>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <section>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <p>
                                            Não há um serviço de Autenticação Externo configurado. Leia <a href="https://go.microsoft.com/fwlink/?LinkID=532715">este artigo </a>e saiba mais!
                                        </p>
                                    }
                                    else
                                    {
                                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                                    {
                                                        <button type="submit" class="btn btn-default pull-right" name="provider" value="@provider.Name" title="LogIn sua conta @provider.DisplayName">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                        </div>
                    </div>

                </form>


                <div class="seperator">
                    <strong>ou</strong>
                    <hr>
                </div>
                <div class="social-buttons text-center mt5 mb5">
                    <a href="#" class="btn btn-primary btn-alt mr10">Entrar com <i class="fa fa-facebook s20 ml5 mr0"></i></a>
                    <a href="#" class="btn btn-danger btn-alt ml10">Entrar com <i class="fa fa-google-plus s20 ml5 mr0"></i></a>
                </div>
            </div>
            <div class="panel-footer gray-lighter-bg bt">
                <h4 class="text-center">
                    <strong>Não está registrado ?</strong>
                </h4>
                <p class="text-center">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">Registrar-se</a>

                </p>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End login container -->
    <div class="container">
        <div class="footer">
            <p class="text-center">&copy; 2007 / @DateTime.Now.Year - Cooperchip. Todos os direitos reservados!</p>
        </div>
    </div>
    <!-- Javascripts -->
    <!-- Important javascript libs(put in all pages) -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
    </script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        window.jQuery || document.write('<script src="/assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
    </script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/js/libs/excanvas.min.js"></script>
      <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script type="text/javascript" src="/js/libs/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap plugins -->
    <script src="/js/bootstrap/bootstrap.js"></script>
    <!-- Form plugins -->
    <script src="/plugins/forms/validation/jquery.validate.js"></script>
    <script src="/plugins/forms/validation/additional-methods.min.js"></script>

    <!-- Init plugins olny for this page -->
    @*<script src="/js/pages/login.js"></script>*@


</body>
</html>